<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">     
    <a routerLink="">
      <div class="logo"><img src = "assets/logo.png">
        <span class="logo-text" *ngIf="!isCollapsed">TP Progamación III</span>
    </div>
    </a>
    <app-navbar> </app-navbar>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header [isCollapsed]="isCollapsed" (toggleCollapse)="toggleCollapse()"></app-header>
    </nz-header>
    
    <nz-content class = "content">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>

</nz-layout>



