<div class="home-container">
  <h1>Trabajo Final Programación III</h1>

  <div *ngIf="isLoading">
    <nz-spin nzSimple></nz-spin>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="isLoggedIn; else notLoggedIn">
      <div class="cards-container">
        <nz-card nzTitle="Administración de Usuarios" class="home-card">
          <p>Administre, edite y cambie de Estado a los distintos usuarios!</p>
          <button nz-button nzType="primary"><a routerLink="client">Ir a Administración<span nz-icon nzType="profile" nzTheme="outline"></span></a></button>
        </nz-card>
    
        <nz-card nzTitle="Creación de Usuarios" class="home-card">
          <p>Agregue un nuevo usuario al sistema!</p>
          <button nz-button nzType="primary"><a routerLink="client/crear">Creación Usuario<span nz-icon nzType="user-add" nzTheme="outline"></span></a></button>
        </nz-card>
      </div>
    </div>
    
    <ng-template #notLoggedIn>
      <div class="no-logueado">
        <p>Solo puede exportar los usuarios a PDF.</p>
        <p>Por favor, inicia sesión para acceder a las funciones de administración.</p>
      </div>
    </ng-template>

    <div class="action-container">
      <button nz-button nzType="primary" nzSize="large" (click)="isLoggedIn ? logout() : auth.loginWithRedirect()">
        {{ isLoggedIn ? 'Cerrar Sesión' : 'Iniciar Sesión' }}
        <span nz-icon [nzType]="isLoggedIn ? 'logout' : 'login'" nzTheme="outline"></span>
      </button>
    </div>
  </div>
</div>
