<h2> Administración de Clientes</h2>
<div class="contenedor-filtrado">
  <span class="filtrado-texto">Filtrado:</span>
  <nz-select [(ngModel)]="filterStatus" (ngModelChange)="aplicarFiltro()" class="filtrado-select">
    <nz-option nzValue="all" nzLabel="Todos"></nz-option>
    <nz-option nzValue="enabled" nzLabel="Habilitados"></nz-option>
    <nz-option nzValue="disabled" nzLabel="Deshabilitados"></nz-option>
  </nz-select>
</div>
<nz-table 
  #sortTable 
  [nzData]="filteredData" 
  [nzLoading]="isLoading"
  nzTableLayout="fixed"
  [nzShowPagination]="true" 
  [nzPageSize]="limit" 
  [(nzPageIndex)]="page"
  (nzPageIndexChange)="onPageChange($event)">
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
            {{ column.title }}
        </th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td>{{ data.nombre }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.telefono }}</td>
        <td>{{ data.fechaNacimiento | date }}</td>
        <td>{{ data.nickname }}</td>
        <td>{{ data.direccion }}</td>
        <td>{{ data.habilitado ? 'Habilitado' : 'Deshabilitado' }}</td>
        <td class="contenedor-botones">
          <button nz-button nz-tooltip *ngIf="data.habilitado" nzType="primary" class="edit-btn" (click)="onEdit(data)"
            nzTooltipTitle="Editar"
            nzTooltipPlacement="top"
            nzTooltipColor="blue">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
          
          <button nz-button nz-tooltip nzType="default" (click)="onToggleStatus(data)" [ngClass]="{'deshabilitar-btn': data.habilitado, 'habilitar-btn': !data.habilitado}"
            [nzTooltipTitle]="data.habilitado ? 'Deshabilitar' : 'Habilitar'" 
            nzTooltipPlacement="top"
            [nzTooltipColor]="data.habilitado ? 'red' : 'green'">
            @if (data.habilitado) {<span nz-icon nzType="delete" nzTheme="outline"></span> }
            @else { <span nz-icon nzType="check-circle" nzTheme="outline"></span> }
          </button>          
        </td>
      </tr>
    </tbody>
</nz-table>
